<div>
  <form class="example-form" [formGroup]="customerForm" (submit)="onSubmit()">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Customer Name</mat-label>
      <input matInput formControlName="cust_name" />
    </mat-form-field>

    <table class="example-full-width" cellspacing="0">
      <tr>
        <td>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Customer Email</mat-label>
            <input matInput formControlName="cust_email" />
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Customer Phone</mat-label>
            <input type="number" matInput formControlName="cust_phone" />
          </mat-form-field>
        </td>
      </tr>
    </table>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Address</mat-label>
      <textarea
        matInput
        formControlName="cust_address"
        placeholder="Ex. 100 Main St"
      >
      </textarea>
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Customer Country</mat-label>
      <textarea matInput formControlName="cust_country"></textarea>
    </mat-form-field>

    <p>
      <mat-checkbox required [checked]="false" formControlName="cust_active">
        Customer Active
      </mat-checkbox>
    </p>
    <p>
      <button type="submit" mat-raised-button color="primary">Submit</button>
      <button
        type="reset"
        style="margin-left: 10px"
        mat-raised-button
        color="primary"
      >
        Reset
      </button>
    </p>
  </form>
</div>
